{% extends 'base.html.twig' %}

{% block title %}{{ portable.marque }}{% endblock %}

{% block titre %}{{ portable.marque }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 text-center">
            <div class="card border-light mb-3">
                <div class="card-header text-center">
                    <img src="{{asset('img/' ~ portable.image)}}" width="300" height="300">
                </div>
                <div class="card-body">
                    <h3>{{ portable.marque }}</h3>
                    <p> {{ portable.description }}</p>
                    <p>Diagonale : {{ portable.diagonale }} "</p><hr>
                    <p>Carte graphique : {{ portable.chipset }} </p><hr>
                    <p>Processeur : {{ portable.processeur }} </p><hr>
                    <p>Ram : {{ portable.ram }} Go</p><hr>
                    <p>Stockage : {{ portable.stockage }} </p><hr>
                    <p class="text-success font-weight-bold">Prix : {{ portable.prix }} €</p><hr>
                    <a class="btn btn-success" href=""><i class="fas fa-shopping-basket"></i> Ajouter au panier</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}